* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.container {
  padding: 20px;
  width: 80%;
}

.header {
  background-color: #ffc898;
  color: #fff;
  height: 100%;
}

.header h1 {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  font-size: 42px;
}
.header p {
  color: #333;
  text-align: end;
  padding: 0 15px;
}

.blog-entry {
  border: 1px #ccc dotted;
  border-radius: 25px;
  padding: 20px;
  margin: 10px 0;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
}

.post {
  flex-basis: 400px;
  margin: 30px 10px;
}
